.navbar {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgb(0, 0, 0); opacity: 0.80;
}

.nav-box {
	padding-left:5px;
	padding-right:5px;
}

.nav-box > .form-inline > .form-control {
	width:430px;
}
