@charset "ISO-8859-1";

body {
	background-image: url('/login/images/background.jpg');
	background-color: rgba(255,255,255,0.35);
}

.container-reg {
    background-color: black;
    opacity: 0.70;
    margin-top: 100px;
    padding: 50px;
    border-radius: 20px;
    vertical-align: middle;
    height: 50%;
    width: 850px;
    justify-content: center;
    display: flex;
}

h5,p {
	text-align: center;
	color: white;
}

.btn {
	margin-top: 20px;
}